# Node
node_modules/
npm-debug.log
yarn-error.log

# Astro
dist/
.astro/

# Vercel
.vercel/

# Sanity Studio
studio/node_modules/
studio/dist/

# Mac
.DS_Store
._*

# Env files
.env
.env.*
!.env.example
